footer
	.footer-feature
		.container
				.row
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								img(src="img/home/fi1.png", alt="")
							.caption
								.title HƠN 10.000 TỰA SÁCH HAY
								.des Được lựa chọn bởi NETA
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								img(src="img/home/fi2.png", alt="")
							.caption
								.title GIAO HÀNG TOÀN QUỐC
								.des Từ 120.000đ ở HCM, từ 250.000đ ở tỉnh thành khác
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								img(src="img/home/fi3.png", alt="")
							.caption
								.title QUÀ TẶNG MIỄN PHÍ
								.des Tặng bookmark, bao sách miễn phí
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								img(src="img/home/fi4.png", alt="")
							.caption
								.title ĐỔI TRẢ NHANH CHÓNG
								.des Hàng bị lỗi được đổi trả nhanh chóng
	.footer-main
		.container
			.row
				.col-12.col-sm-6.col-lg-3
					.footer-col.mb-4
						.footer-title NHÀ SÁCH NETA
							span (Hoạt động từ 8h - 21h hàng ngày)
						.footer-about 
							ul
								li
									i.md place
									span Số 8 Nguyễn Phi Khanh, P. Tân Định, Quận 1, TP. HCM
									br
									a.text-orange(href="#!") Xem bản đồ
								li
									i.md phone
									a.text-orange(href="#!") 028.7301.9778
					.footer-col.mb-4
						.footer-title HỖ TRỢ ĐƠN HÀNG ONLINE
							span (Hoạt động từ 8h - 21h hàng ngày)
						.footer-about 
							ul
								li
									i.md phone
									a.text-orange(href="#!") 028.7301.9777 - 028.7301.6777
								li
									i.md email
									a.text-orange(href="#!") songdep@neta.com
						//- .footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Phương thức giao hàng
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Câu hỏi thường gặp
				.col-12.col-sm-6.col-lg-3
					.footer-col.mb-4
						.footer-title CHĂM SÓC KHÁCH HÀNG
						.footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Phương thức giao hàng
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Câu hỏi thường gặp
					.footer-col.mb-4
						.footer-title CHĂM SÓC KHÁCH HÀNG
						.footer-link
							a(href="#!") Bao đọc sách hay
							a(href="#!") Yêu cầu đặt sách
							a(href="#!") Tư vấn dịch vụ
				.col-12.col-sm-6.col-lg-3
					.footer-col.mb-4
						.footer-title QUY CHẾ HOẠT ĐỘNG
						.footer-link
							a(href="#!") Điều khoản sử dụng
							a(href="#!") Chính sách bảo mật
					.bct.mb-4
						img(src="img/bct.png", alt="")
				.col-12.col-sm-6.col-lg-3
					.footer-col.mb-4
						.fb-fanpage
							img(src="img/fanpage.png", alt="")
					.footer-col.mb-4
						.footer-title NETA TRÊN INSTAGRAM
						.ins-album
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
							.item
								a.img(href="#!")
									img(src="img/home/ins1.png", alt="")
	.footer-bottom
		.container
			.footer-wrap.text-center
				.copyright © 2016 - Bản quyền của Công Ty Cổ Phần Nền Tảng - Neta.vn
				span Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010
