.container
	section.account-page
		ul#myTab.nav.nav-tabs.nav-tabs2(role='tablist')
				li.nav-item
					a.nav-link(href="#!") THÔNG TIN TÀI KHOẢN
				li.nav-item
					a.nav-link.active(href="#!") ĐƠN HÀNG CỦA TÔI
				li.nav-item
					a.nav-link(href="#!") QUẢN LÝ ĐIỂM THƯỞNG
		.account-order
			.order-id CHI TIẾT ĐƠN HÀNG #313229432 - 
				strong Giao hàng thành công
			.row
				.col-12.col-md-4
					.order-title ĐỊA CHỈ NHẬN HÀNG
					.detail-col
						strong.text-uppercase NGUYỄN VĂN ĐỨC
						ul
							li Địa chỉ: 10 Nguyễn Văn Thủ, Phường ĐaKao,
							li Quận 1, TP. Hồ Chí Minh
							li Điện thoại: 0918757486
				.col-12.col-md-4
					.order-title PHƯƠNG THỨC VẬN CHUYỂN
					.detail-col
						p Vận chuyển Tiết Kiệm ( dự kiến giao hàng vào Thứ sáu, 02/11/2018 )
						p Miễn phí vận chuyển
				.col-12.col-md-4
					.order-title HÌNH THỨC THANH TOÁN
					.detail-col
						p Thanh toán bằng tiền mặt khi nhận hàng
			.table-wrap
				table.table-ordered
					thead
						tr
							th Sản phẩm
							th Giá
							th Số lượng
							th Giảm giá
							th Tạm tính
					tbody
						tr
							td 
								.product
									a.img(href="#!")
										img(src="img/pr1.png", alt="")
									a.name(href="#!") Chỉ có niềm đam mê
							td 57.800đ
							td 1
							td 10.200đ
							td 57.800đ
			.row
				.col-12.col-md-6.col-lg-8
				.col-12.col-md-6.col-lg-4
					.cart-total
						.group
							.label Phí vận chuyển: 
							.value 0 đ
						.group
							.label Phí Bưu điện phụ thu: 
							.value 0 đ
						.group
							.label Dịch vụ cộng thêm: 
							.value 0 đ
						.group
							.label
								strong.text-uppercase Tổng cộng:
							.value 
								strong 40.000 đ
								span (Giá đã bao gồm VAT)
			.btn-wrap
				a.btn-back(href="#!") <i class="fal fa-chevron-double-left"></i> Quay lại đơn hàng của tôi
