.container
	section.account-page
		ul#myTab.nav.nav-tabs.nav-tabs2(role='tablist')
				li.nav-item
					a.nav-link(href="#!") THÔNG TIN TÀI KHOẢN
				li.nav-item
					a.nav-link(href="#!") ĐƠN HÀNG CỦA TÔI
				li.nav-item
					a.nav-link.active(href="#!") QUẢN LÝ ĐIỂM THƯỞNG
		.point-manager
			.row.text-center.mb-2
				.col-12.col-md-4
					.report SỐ NETA POINT TẶNG MỚI: 
						strong 100
				.col-12.col-md-4
					.report SỐ NETA POINT SỬ DỤNG ĐỔI: 
						strong 50
				.col-12.col-md-4
					.report SỐ NETA POINT CÒN LẠI: 
						strong 50
			.table-wrap
				table.table-order.table-order2
					thead
						tr
							th Mã đơn hàng
							th Ngày mua
							th Tổng tiền
							th.text-center Số Neta Point tặng mới
					tbody
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 86.400 đ
							td.text-center 8
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 86.400 đ
							td.text-center 8
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 86.400 đ
							td.text-center 8
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 86.400 đ
							td.text-center 8
