.container
	section.account-page
		ul#myTab.nav.nav-tabs.nav-tabs2(role='tablist')
				li.nav-item
					a.nav-link(href="#!") THÔNG TIN TÀI KHOẢN
				li.nav-item
					a.nav-link.active(href="#!") ĐƠN HÀNG CỦA TÔI
				li.nav-item
					a.nav-link(href="#!") QUẢN LÝ ĐIỂM THƯỞNG
		.account-order
			.table-wrap
				table.table-order
					thead
						tr
							th Mã đơn hàng
							th Ngày mua
							th Sản phẩm
							th Tổng tiền
							th Trạng thái đơn hàng
					tbody
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
						tr
							td 
								a.text-orange(href="#!") 313229432
							td 30/10/2018
							td 
								a.name(href="#!") Dấu Chân Trên Cát - Tái bản lần 1
							td 86.400 đ
							td Giao hàng thành công
