.container
	include ../_layout/breadcrumb
	section.category-page
		.product-detail
			.row
				.col-12.col-md-5
					.product-slide-wrap
						.slide-main
							.item
								a.img(href="img/pr2.png" data-fancybox="detail-img")
									img(src="img/pr2.png", alt="")
							.item
								a.img(href="img/pr2.png" data-fancybox="detail-img")
									img(src="img/pr2.png", alt="")
							.item
								a.img(href="img/pr2.png" data-fancybox="detail-img")
									img(src="img/pr2.png", alt="")
							.item
								a.img(href="img/pr2.png" data-fancybox="detail-img")
									img(src="img/pr2.png", alt="")
						.slide-nav
							.item
								.img
									img(src="img/pr2.png", alt="")
							.item
								.img
									img(src="img/pr2.png", alt="")
							.item
								.img
									img(src="img/pr2.png", alt="")
							.item
								.img
									img(src="img/pr2.png", alt="")
						a.btn-openbook(href="#!")
							img(src="img/open.png", alt="")
				.col-12.col-md-7
					.product-intro
						h1.product-name Chỉ Có Niềm Đam Mê
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span.text-orange 16 nhận xét
						.row
							.col-12.col-lg-7
								.product-price
									ul
										li Giá bìa: 
											span.price-old 68.000đ
										li Tại Sách Khai Tâm: 
											span.price-new 57.800 đ
										li Tiết kiệm: 
											strong 10.200đ 
											span.promotion.sale -15%
								.product-gift
									p.mb-2
										strong Ưu đãi & dịch vụ cộng thêm:
									ul
										li Tặng kèm bookmark danh ngôn trên mỗi đơn hàng
										li Giao hàng miễn phí từ 120k ở nội thành HCM
										li Với mỗi 90k trong đơn hàng, quý khách được tặng 1 
										//- li Bao đọc sách hay, đổi ngay nếu dở 
										//- 	a.text-green(href="#!") (chi tiết)
								.product-btn
									.warning Sắp phát hành*
									label Số lượng:
									.input-number
										.btn-spin.btn-dec -
										input(type="text" value="1")
										.btn-spin.btn-inc +
									a.btn-buy(href="#!") Mời mua hàng
									.warning Hết hàng*
									.input-email
										input(type="text" placeholder="Email của bạn")
									a.btn-notify(href="#!") THÔNG BÁO KHI CÓ HÀNG
									a.des.text-orange(href="#!") (Vui lòng xem hướng dẫn mua hàng)
								.share
									img(src="img/share.png", alt="")
								.related-buy
									.title THƯỜNG ĐƯỢC MUA CÙNG
									.pr-list
										ul
											li.checkbox
												input#abc(type="checkbox", name="")
												label(for="abc")
													.pr-buy
														.img
															img(src="img/pr1.png", alt="")
														.caption
															.name Bạn đang xem: Chỉ có niềm đam mê
															.price 57.800đ
											li.checkbox
												input#abc(type="checkbox", name="")
												label(for="abc")
													.pr-buy
														.img
															img(src="img/pr1.png", alt="")
														.caption
															.name Bạn đang xem: Chỉ có niềm đam mê
															.price 57.800đ
											li.checkbox
												input#abc(type="checkbox", name="")
												label(for="abc")
													.pr-buy
														.img
															img(src="img/pr1.png", alt="")
														.caption
															.name Bạn đang xem: Chỉ có niềm đam mê
															.price 57.800đ
											li.checkbox
												input#abc(type="checkbox", name="")
												label(for="abc")
													.pr-buy
														.img
															img(src="img/pr1.png", alt="")
														.caption
															.name Bạn đang xem: Chỉ có niềm đam mê
															.price 57.800đ
											li.checkbox
												input#abc(type="checkbox", name="")
												label(for="abc")
													.pr-buy
														.img
															img(src="img/pr1.png", alt="")
														.caption
															.name Bạn đang xem: Chỉ có niềm đam mê
															.price 57.800đ
									a.btn-showall(href="#!") Xem tất cả
									.total Tổng tiền: 
										strong 150.000 đ
									.btn-wrap.text-right
										a.btn-addmore(href="#!") Thêm 0 sản phẩm vào giỏ hàng

							.col-12.col-lg-5
								.book-info
									ul
										li Tác giả: 
											a(href="#!") Dale Carnegie
										li Dịch giả: 
											a(href="#!") Nguyễn Hiến Lê
										li Nhà xuất bản: 
											a(href="#!") NXB Tổng hợp Tp.HCM
										li Số trang: 
											strong 399
										li Hình thức bìa: 
											strong Bìa mềm
										li Ngày xuất bản: 
											strong 2017
										li Trọng lượng (gr): 
											strong 320
								.book-related
									.title Sách cùng tác giả
									.book-list
										.item
											a.product-item(href="#!")
												.img
													img(src="img/pr1.png", alt="")
												.caption
													h3.name Suy niệm mỗi ngày - Tái bản lần 3
													.author Lev Tolstoy
													.price
														.new 91.900đ
														.old 126.000đ
														.promotion.sale -20%
													.rating
														ul
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li
																i.fa.fa-star
														span 16 nhận xét
										.item
											a.product-item(href="#!")
												.img
													img(src="img/pr1.png", alt="")
												.caption
													h3.name Suy niệm mỗi ngày - Tái bản lần 3
													.author Lev Tolstoy
													.price
														.new 91.900đ
														.old 126.000đ
														.promotion.sale -20%
													.rating
														ul
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li
																i.fa.fa-star
														span 16 nhận xét
										.item
											a.product-item(href="#!")
												.img
													img(src="img/pr1.png", alt="")
												.caption
													h3.name Suy niệm mỗi ngày - Tái bản lần 3
													.author Lev Tolstoy
													.price
														.new 91.900đ
														.old 126.000đ
														.promotion.sale -20%
													.rating
														ul
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li.active
																i.fa.fa-star
															li
																i.fa.fa-star
														span 16 nhận xét
		.product-description
			ul#myTab.nav.nav-tabs.nav-tabs2(role='tablist')
				li.nav-item
					a#tab1-tab.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='home', aria-selected='true') GIỚI THIỆU
				li.nav-item
					a#tab2-tab.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='profile', aria-selected='false') Mục lục
				li.nav-item
					a#tab3-tab.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='contact', aria-selected='false') Đánh giá của độc giả
			#myTabContent.tab-content
				#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
					.content
						p 
							strong Vì lẽ gì ông Dale Carnegie viết cuốn này?
						p "...Từ năm 1912 ông Dale Carnegie mở một lớp dạy các nhà buôn, nhà kỹ nghệ, các người làm nghề tự do, các viên chỉ huy mọi ngành hoạt động, cách phô diễn những tư tưởng của họ trước công chúng sao cho được mạnh mẽ, sáng sủa và dễ dàng.
						p Nhưng lần lần, ông thấy rằng học trò của ông còn thiếu một khoa vô cùng quí báu hon, tức khoa “Tâm lý thực hành” khoa dạy người ta cách giao thiệp vói người khác, từ thân cho tới sơ; sao cho ai cũng vừa lòng mình, mến mình mà muốn giúp đỡ mình. Chính ông cũng tự thấy ông thiếu khoa rất quan trọng đó.
						p Học đường Carnegie do ông vua thép Andrew Carnegie sáng lập, đã nghiên cứu và thấy rằng cả trong những nghề hoàn toàn khoa học, như nghề kỹ sư chẳng hạn, sự thành công cũng chỉ có 15% do tài kỹ thuật, còn 85% do tài dẫn dụ người khác. Những kỹ sư biết rõ nghề không thiếu gì ở đời, nhưng những viên kỹ sư vừa biết rõ nghề vừa biết dẫn đạo người cộng tác với mình thì rất hiếm! Vua dầu lửa John D. Rochkefeller, cũng nhận vậy: "Người nào biết chỉ huy, điều khiển người khác là có một số vốn vô cùng quý ở dưới gầm trời này..."
						p Cuốn sách này không chỉ hữu ích cho những ai muốn khởi nghiệp mở nhà hàng mà nó còn hữu ích cho bất cứ ai đang trên con đường khởi nghiệp nói chung. Ngoài những kinh nghiệm cụ thể trong lĩnh vực nhà hàng, cuốn sách còn đặc biệt khơi gợi tinh thần và tư duy của người làm chủ. Nghĩ lớn - bắt đầu nhỏ, lợi ích của doanh nghiệp phải đi đôi với lợi ích của khách hàng, quản trị cơ nghiệp với cặp mắt và trái tim của người chủ… là những thứ tạo nên sự khác biệt giữa doanh nghiệp này với doanh nghiệp khác, giữa thành công với thất bại.Những tính cách hay phẩm chất cần thiết đối với một người khởi nghiệp thành công cũng được được đề cập nhiều trong cuốn sách. Sự kiên định là một ví dụ. Nó khác xa với sự cứng đầu, bảo thủ. Nó là cái xương sống rắn chắc giúp người khởi nghiệp đứng vững trong cơn bão táp và nhanh chóng đứng dậy sau mỗi lần bị ngã xuống. Và trong cuộc chơi có thể thắng có thể thua này, chắc chắn ai cũng cần đến sự may mắn. Nhưng là may mắn theo cách nói của tay golf huyền thoại Gary Player, là càng luyện tập thì càng thấy mình may mắn hơn.
					a.btn-viewmore(href="#!")
						span Xem thêm
				#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
				#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
					.product-comment
						.product-review
							.medium-title Đánh giá trung bình
							.medium-rating
								.point 4.5/5
								ul.stars
									li.active
										<i class="fas fa-star"></i>
									li.active
										<i class="fas fa-star"></i>
									li.active
										<i class="fas fa-star"></i>
									li.active
										<i class="fas fa-star"></i>
									li
										<i class="fas fa-star"></i>
								.total-comment (16 nhận xét)
							.start-overview
								ul.charts
									li.chart
										label 5 <i class="fas fa-star"></i>
										.progress
											.progress-bar(role="progressbar" style="width: 76%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
										.percent 76%
									li.chart
										label 4 <i class="fas fa-star"></i>
										.progress
											.progress-bar(role="progressbar" style="width: 76%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
										.percent 19%
									li.chart
										label 3 <i class="fas fa-star"></i>
										.progress
											.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
										.percent 3%
									li.chart
										label 2 <i class="fas fa-star"></i>
										.progress
											.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
										.percent 1%
									li.chart
										label 1 <i class="fas fa-star"></i>
										.progress
											.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
										.percent 1%
							.btn-wrap.text-center
								a.btn-comment(href="#!") Viết đánh giá của bạn
							.comment-form
								.module-title GỬI ĐÁNH GIÁ CỦA BẠN
								.form-wrap
									.form-group.rating
										label Đánh giá của bạn về sản phẩm này:
										.rating-input
											ul
												li.active
													a(href="#!") <i class="fas fa-star"></i>
												li.active
													a(href="#!") <i class="fas fa-star"></i>
												li
													a(href="#!") <i class="fas fa-star"></i>
												li
													a(href="#!") <i class="fas fa-star"></i>
												li
													a(href="#!") <i class="fas fa-star"></i>
									.form-group
										input(type="text" placeholder="Nhập tiêu đề đánh giá (không bắt buộc)")
									.form-group
										textarea(name="", cols="3", rows="3" placeholder="Đánh giá của bạn về sản phẩm này")
									input(type="submit", value="Gửi đánh giá")
						.comment-list
							.sort
								label Sắp xếp theo
								select(name="")
									option Mới nhât
							.comment-items
								.item
									.user
										.img
											img(src="img/avt.png", alt="")
										.name T Nga
										time 1 ngày trước
									.caption
										.rating
											ul
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li <i class="fas fa-star"></i>
										.title Cực kỳ hài lòng
										.des Mình rất vui khi nhận đc sách. Thời gian giao hàng nhanh. Sách mới đẹp ko có đến 1 vết sước. Giấy vàng rất ưng. Cảm ơn Khai Tâm!
										a.sharelink(href="#!") Chia sẻ facebook
								.item
									.user
										.img
											img(src="img/avt.png", alt="")
										.name T Nga
										time 1 ngày trước
									.caption
										.rating
											ul
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li.active <i class="fas fa-star"></i>
												li <i class="fas fa-star"></i>
										.title Cực kỳ hài lòng
										.des Mình rất vui khi nhận đc sách. Thời gian giao hàng nhanh. Sách mới đẹp ko có đến 1 vết sước. Giấy vàng rất ưng. Cảm ơn Khai Tâm!
										a.sharelink(href="#!") Chia sẻ facebook

			.content-product
				.img
					img(src="img/pr1.png", alt="")
				.caption
					.name Chỉ Có Niềm Đam Mê
					.price
						ul
							li Giá bìa: 
								span.price-old 68.000đ
							li Tại Sách Khai Tâm: 
								span.price-new 57.800 đ
							li Tiết kiệm: 
								strong 10.200đ 
								span.promotion.sale -15%
					.btn-wrap
						label Số lượng:
						.input-number
							.btn-spin.btn-dec -
							input(type="text" value="1")
							.btn-spin.btn-inc +
						a.btn-buy(href="#!") Mời mua hàng
	section.product-related
		.home-title Có thể bạn quan tâm
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
	section.product-related
		.home-title Sách bạn đã xem
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
