.home-flex
	.container
		.row.no-gutters
			section.home-menu
				ul.menu-link
					li.has-sub
						a(href="#!") Kinh tế
							span (4932)
						.mega-sub
							a.title(href="#!") Sách kinh tế
							ul.mega-row
								li.mega-col
									ul
										li
											a(href="#!") Sách Marketing - Bán hàng
										li
											a(href="#!") Nhân vật - Bài học kinh doanh
										li
											a(href="#!") Sách Khởi nghiệp
										li
											a(href="#!") Sách Quản trị, Lãnh đạo
										li
											a(href="#!") Sách Quản trị, Lãnh đạo
								li.mega-col
									ul
										li
											a(href="#!") Sách Kinh tế học
										li
											a(href="#!") Sách Quản trị Nhân sự
										li
											a(href="#!") Sách Khởi nghiệp
										li
											a(href="#!") Sách Chứng khoán - Bất động sản - Đầu tư
										li
											a(href="#!") Sách Kỹ năng làm việc
					li
						a(href="#!") Nghệ thuật sống - Tâm lý 
							span (667)
					li
						a(href="#!") Văn Học Việt Nam 
							span (86)
					li
						a(href="#!") Văn học nước ngoài 
							span (367)
					li
						a(href="#!") Thiếu nhi 
							span (97)
					li
						a(href="#!") Giáo dục - Gia đình 
							span (142)
					li
						a(href="#!") Văn hóa - Nghệ thuật 
							span (68)
					li
						a(href="#!") Lịch Sử 
							span (93)
					li
						a(href="#!") Khoa Học - Triết học
							span (92)
					li
						a(href="#!") Tâm linh - Tôn giáo 
							span (348)
					li
						a(href="#!") Sách Y học - Thực dưỡng 
							span (140)
					//- li
						a(href="#!") Ngoại ngữ - Từ điển 
							span (57)
			section.home-banner-wrap
				.home-banner
					.banner
						.item
							a.img(href="#!")
								img(src="img/home/bn1.png", alt="")
						.item
							a.img(href="#!")
								img(src="img/home/bn1.png", alt="")
						.item
							a.img(href="#!")
								img(src="img/home/bn1.png", alt="")
						.item
							a.img(href="#!")
								img(src="img/home/bn1.png", alt="")
						.item
							a.img(href="#!")
								img(src="img/home/bn1.png", alt="")
				.banner-ads
					.item
						a.banner-ad(href="#!")
							img(src="img/home/ad1.png", alt="")
					.item
						a.banner-ad(href="#!")
							img(src="img/home/ad2.png", alt="")
					.item
						a.banner-ad(href="#!")
							img(src="img/home/ad3.png", alt="")
			section.hot-keyword
				//- .sidebar-title Từ khóa hot
				.keyword-slick
					.item
						a.keyword(href="#!") Tự truyện Gandhi
					.item
						a.keyword(href="#!") Sách Tâm Linh
					.item
						a.keyword(href="#!") Osho
					.item
						a.keyword(href="#!") Cố Định Một Đám Mây
					.item
						a.keyword(href="#!") Thích Nhất Hạnh
					.item
						a.keyword(href="#!") Nguyễn Hiến Lê
					.item
						a.keyword(href="#!") Một mình sống trong rừng
					.item
						a.keyword(href="#!") Nguyễn Ngọc Tư
					.item
						a.keyword(href="#!") Triết Học Ấn Độ
					.item
						a.keyword(href="#!") Thực Dưỡng Ohsawa
					.item
						a.keyword(href="#!") Thực Dưỡng Ohsawa
					.item
						a.keyword(href="#!") Nguyễn Ngọc Tư
					.item
						a.keyword(href="#!") Triết Học Ấn Độ
					.item
						a.keyword(href="#!") Thực Dưỡng Ohsawa
					.item
						a.keyword(href="#!") Thực Dưỡng Ohsawa
section.home-section
	.container
		.home-product
			.home-title Sách mới tuyển chọn
			a.btn-viewall(href="#!") Xem tất cả
			.product-slick.s2
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3 Lorem ipsum dolor sit.
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3 Lorem ipsum dolor sit.
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
		.home-ads
			.item
				a.ads-banner(href="#!")
					img(src="img/home/ads1.png", alt="")
			.item
				a.ads-banner(href="#!")
					img(src="img/home/ads2.png", alt="")
			.item
				a.ads-banner(href="#!")
					img(src="img/home/ads3.png", alt="")
			.item
				a.ads-banner(href="#!")
					img(src="img/home/ads4.png", alt="")

section.home-section.s2
	.container
		.home-product.mb-4
			.home-title SÁCH ĐƯỢC MUA NHIỀU NHẤT
			a.btn-viewall(href="#!") Xem tất cả
			.product-slick
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
		.home-product
			.home-title CÓ THỂ BẠN THÍCH
			a.btn-viewall(href="#!") Xem tất cả
			.product-slick
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.item
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
section.home-book
	.container
		.home-book-wrap
			.home-title CHIA SẺ SÁCH HAY
			a.btn-viewall(href="#!") Xem tất cả
			.news-slick
				.item
					.news-item
						a.img(href="#!")
							img(src="img/home/n1.png", alt="")
						.caption
							h3.name 
								a(href="#!") Dấn thân - Hãy lên tiếng để được sống cuộc đời như bạn muốn
							time 18/09/2017
							a.link(href="#!") Xem chi tiết
				.item
					.news-item
						a.img(href="#!")
							img(src="img/home/n1.png", alt="")
						.caption
							h3.name 
								a(href="#!") Dấn thân - Hãy lên tiếng để được sống cuộc đời như bạn muốn
							time 18/09/2017
							a.link(href="#!") Xem chi tiết
				.item
					.news-item
						a.img(href="#!")
							img(src="img/home/n1.png", alt="")
						.caption
							h3.name 
								a(href="#!") Dấn thân - Hãy lên tiếng để được sống cuộc đời như bạn muốn
							time 18/09/2017
							a.link(href="#!") Xem chi tiết
				.item
					.news-item
						a.img(href="#!")
							img(src="img/home/n1.png", alt="")
						.caption
							h3.name 
								a(href="#!") Dấn thân - Hãy lên tiếng để được sống cuộc đời như bạn muốn
							time 18/09/2017
							a.link(href="#!") Xem chi tiết
		.home-partner
			.partner-slick
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
				.item
					a.partner(href="#!")
						img(src="img/home/p1.png", alt="")
